
/* #app{
  background-color: #bbf5ba !important;
} */

header{
  border-style: solid;
  border-radius: 0px 0px 8px 8px;
  border-width: 0px 2px 3px 2px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.panel{
  border-style: solid;
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
  margin-left: 0;
}
.hide{
  display: none;
}
.btn-img{
  padding: 0;
}
.logo-img{
  width: 100%;
  max-width: 400px;
}
.w-100{
  width: 100%;
}
.mw-90{
	min-width: 90px!important;
}
.w-fit-content{
	width: fit-content;
}
.opacity-70{
  opacity: 0.7!important;
}
.opacity-50{
	opacity: 0.5!important;
}
.opacity-1{
	opacity: 1!important;
}

.lection{
  background-color: #0d067f!important;
}
.practic{
  background-color: #b20485!important;
}
.labwork{
  background-color: #087eff!important;
}

@media only screen and (min-width: 768px) {
  .w-md-85{
    width: 85%!important; 
  }
}
